.container {
    width: 60%;

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 2.4fr;
    gap: 0px 0px;
    grid-template-areas:
        "history display display display display display display"
        "history memory memory memory memory memory memory"
        "history numpad numpad numpad numpad numpad numpad";
}

.display {
    grid-area: display;
}

.memory {
    grid-area: memory;
}

.numpad {
    padding-left: 200px;
    grid-area: numpad;
}

.history {
    grid-area: history;
}